/********************************* NAV BAR *********************************************/
nav {
    float: right;    
    ol {
        position: fixed;
        margin-top: 21px; 
        height: 30px;
        width: 301px;
        right: -11px; 
        padding: 0 30px 0 30px; 
        
        li {
            list-style-type: none;
            display: inline-block;
            vertical-align: center;
            font-family: arial, sans-serif;
            font-size: 13px;
            color: #404040;
            padding: 0 11px 0 0;
            
            .menu:hover{
                background-color: black;
            }
               
            .menu {
                position: absolute;
                right: 130px; 
                top: -6px;
                background-image: url("../assets/icon.png");
                background-position: -132px -38px;
                width: 30px;
                height: 30px;
            }
                
            .bell:hover{
                background-color: black;
            }
            .bell {
                position: absolute; 
                right: 85px; 
                top: -5px;
                background-image: url("../assets/icon.png");
                background-position: -194px -21px;
                width: 20px;
                height: 20px;
                margin: 5px;
                background-color: #727272;
                border-radius: 100%;
            }
            .icon {
                position: absolute;
                right: 40px;
                top: -8px; 
                background-image: url("../assets/Andrew_HEX_icon.jpg");
                width: 32px;
                height: 32px;
                border-radius: 100%;
            }
        }
         .andrew {
                color: #737373;
        }
    }
}

/********************************* SEARCH ELEMENTS *********************************************/
body {
    margin: 0; 
    padding: 0; 
    height: 100%;
}

.logo {
    position: absolute;
    top: 24%; 
    left: 585px; 
    width: 269px; 
    height: 95px; 
}

.search {
    width: 100%;
    position: absolute;
    left: 218px;
    top: 39%;
}

.search form input {
    background: url("../assets/mic.gif") no-repeat;
    background-size: 15px 19px; 
    background-position: 99% 4px; 
    border: 1px solid #C0C0C0; 
    width: 565px;    
    height: 25px;
}

.search form button {
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #444;
    border-radius: 3px; 
    border: 1px solid #D8D8D8; 
    background-color: #f5f5f5;
    margin-left: 100%;
}

 #search_button {
    margin: 16px 8px 0 8px; 
    width: 95px; 
    height: 29px; 
}

#lucky {
    margin: 16px 8px 0 8px; 
    width: 109px; 
    height: 29px; 
}

/********************************* FOOTER *********************************************/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%; 
    height: 39px; 
    background-color: #F2F2F2;
    border: 1px solid #E4E4E4; 
    
    
    ul {
        list-style-type: none;
    }
    ul li a {
        text-decoration: none;   
        font-family: arial, sans-serif;
        color: #666666; 
        font-weight: 100; 
        font-size: small;
    }
    
    .left_info li{
        position: relative;
        float: left;   
        display: inline;
        margin: 0; 
        padding-left: 27px;
        width: 64px; 
        height: 40px; 
        
    }
    
    .right_info li{
        position: relative;
        float: right;
        display: inline;
        vertical-align: middle;
        padding-left: 27px;
        width: 64px; 
        height: 40px;
    }
    
}