/* line 1, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
body {
  margin: 0;
  padding: 0; }

/* line 5, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
nav {
  float: right; }
  /* line 7, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
  nav ol {
    position: fixed;
    margin-top: 21px;
    height: 30px;
    width: 301px;
    right: -11px;
    padding: 0 30px 0 30px; }
    /* line 15, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
    nav ol li {
      list-style-type: none;
      display: inline-block;
      vertical-align: center;
      font-family: arial, sans-serif;
      font-size: 13px;
      color: #404040;
      padding: 0 11px 0 0; }
      /* line 24, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
      nav ol li .menu:hover {
        background-color: black; }
      /* line 28, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
      nav ol li .menu {
        position: absolute;
        right: 130px;
        top: -6px;
        background-image: url("../assets/icon.png");
        background-position: -132px -38px;
        width: 30px;
        height: 30px; }
      /* line 38, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
      nav ol li .bell:hover {
        background-color: black; }
      /* line 41, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
      nav ol li .bell {
        position: absolute;
        right: 85px;
        top: -5px;
        background-image: url("../assets/icon.png");
        background-position: -194px -21px;
        width: 20px;
        height: 20px;
        margin: 5px;
        background-color: #727272;
        border-radius: 100%; }
      /* line 53, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
      nav ol li .icon {
        position: absolute;
        right: 40px;
        top: -8px;
        background-image: url("../assets/Andrew_HEX_icon.jpg");
        width: 32px;
        height: 32px;
        border-radius: 100%; }
    /* line 63, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
    nav ol .andrew {
      color: #737373; }

/* line 70, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 39px;
  background-color: #F2F2F2;
  border: 1px solid #E4E4E4;
  clear: both; }
  /* line 80, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
  footer ul {
    list-style-type: none; }
  /* line 84, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
  footer ul li a {
    text-decoration: none;
    font-family: arial, sans-serif;
    color: #666666;
    font-weight: 100;
    font-size: small; }
  /* line 92, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
  footer .left_info li {
    float: left;
    display: inline-block;
    margin: 0;
    padding-left: 27px;
    width: 64px;
    height: 40px; }
  /* line 102, /Users/anguy95/Dropbox/Random_Work/OdinProject/google-homepage/css/styles.scss */
  footer .right_info li {
    float: right;
    display: inline-block;
    vertical-align: middle;
    padding-left: 27px;
    width: 64px;
    height: 40px; }

/*# sourceMappingURL=styles.css.map */